body{
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    flex-direction: column;
}
.display{
    font-size: 50px;
    width:500px;
    height: 500px;
    border:2px  black;
    border-radius:50%;
    padding: 10px;
    margin: 20px;
    box-sizing: border-box;
    display:flex;
    justify-content: center;
    align-items: center;
    background:
    radial-gradient(white 60%, transparent 61%),
    repeating-conic-gradient(
        black 0deg 2deg,
        transparent 2deg 6deg
    );
}
.buttons{
    padding:5px;
    margin: 10px;
}
.buttons button {
    cursor:pointer;
    background-color:lightgray;
    border:2px solid black;
    border-radius: 12px;
    padding: 5px;
}