html {
      background-color: #DDBEAA;
      height: 100vh;
}

body {
      height: 100vh;
      margin-left: 2cm;
      margin-right: 2cm;
      text-align: center;
}
.main-container {
      height: 100%;
      display: flex;
      align-items: center;
      justify-content: center;
}
.main-index {
      height: 100%;
      display:flex;
      flex-direction: column;
      align-items: center;
      justify-content: center;
}
.centered-list{
      list-style-position: inside;
}

/* index font */
.cw_1{
      color: green;
}
.cw_2{
      color: blue;
}
.cw_3{
      color: red;
}
.col {
    color: red;
}

/* tabela */
table.my-table {
      border-collapse: collapse;
      border: 2px solid #333;
}
table.my-table th,
table.my-table td {
      border: 1px solid #333;
      text-align: left;
}

/* kwadraty */

.space {
      display: flex;
      flex-direction: column;
      gap:20px;
}
.row {
    display: flex;
    gap: 20px;
}
.square {
      width: 100px;
      height: 100px;
}
.blue {
      background-color: blue;
}
.red {
      background-color: red;
}
.green {
      background-color: green;
}
.yellow {
      background-color: yellow;
}
.sq_image {
      background-image: url("square_image.jpg");
      background-position: center;
}