form{
    border:2px solid black;
    border-radius: 12px;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap:10px;
    width: fit-content;
    padding:20px;
}
body{
    display:flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 80vh;
}