/* Navbar */
.navstyle{
  display: flex;
  position: sticky;
  top:0;
  flex-direction: row;
  padding: 10px;
  background-color: black;
  border-bottom: 2px solid white;
  width: 100vw;
  justify-content: space-between;
}
.site-name {
  font-family: 'Badeen Display';
  font-weight:400;
  font-size: 50px;
  font-size: normal;
  font-weight: bold;
  color: orange;
  letter-spacing: 1px;
  text-shadow: 
    2px 2px 4px rgba(255, 255, 255, 0.35),
    0 0 10px rgba(255, 255, 255, 0.25);
}
.navstyle a{
    font-family: 'Oswald',Arial;
    color:white;
    margin:15px;
    font-size:24px;
    font-weight: bold;
}
.navstyle-links{
  display:flex;
  gap: 30px;
  align-items: center;
  justify-content: space-between;
  padding-right:40%;
}

.navstyle a:hover{
    color:orange;
    transition: color 0.2s;
}
/* Body */
html, body{
  display:flex;
  flex-direction: column;
  min-height: 100vh;
  background-image:url(images/background.jpg);
  background-size:cover;
  background-repeat: no-repeat;
  background-attachment: fixed;
  color: white;
  margin:0;
  padding:0;
  overflow-x: hidden;
  align-items: center;
}
/* home */
.main-home{
  border-radius: 12px;
  border:2px solid white;
  background-color: black;
  color:orange;
  font-family: 'Oswald','Arial';
  max-width: fit-content;
  padding-left:1%;
  padding-right: 1%;
}

.main-home-text-title{
  border-radius: 12px;
  border:2px solid white;
  background-color: black;
  color:orange;
  font-family: 'Oswald','Arial';
  max-width: fit-content;
  padding-left:1%;
  padding-right: 1%;
  align-self: center;
}
.main-home-text-container{
  background-color: black;border-radius: 12px;
  border:2px solid white;
  background-color: black;
  padding-left:1%;
  padding-right: 1%;
  margin: 2%;
  display:flex;
  flex-direction: column;
  max-width:fit-content;
}
.main-home-text{
  color:orange;
  font-family: 'Oswald','Arial';
  text-align: center;
}

.main-home-container{
  display:grid;
  grid-template-columns:1fr 1fr 1fr;
  gap:50px;
  padding: 100px;
  min-height: 22vh;
}
.box-home{
  background-color:black;
  border-radius: 12px;
  border:2px solid white;
  box-shadow: 0 4px 10px rgba(0,0,0,0,15);
  gap:0;
  height: min-content;
  padding-bottom: 5px;
}
.toggle{
  margin: 10px auto;
  align-self: center;
  cursor: pointer;
  padding: 5px 5px;
  display: flex;
  color:orange;
  background-color: black;
  border-radius: 12px;
}
.toggle:hover{
  color:white;
  transition: 0.2s ease;
}
.box-home-content{
  max-height: 0;
  overflow: hidden;
  transition: max-height 0.4s ease;
}
.box-home.open .box-home-content{
  max-height: 80vh;
}
.box-home-title{
  font-family: 'Oswald',Arial;
  color:orange;
  text-align: center;
  text-shadow: 
    2px 2px 4px rgba(255, 255, 255, 0.35),
    0 0 10px rgba(255, 255, 255, 0.25);
  margin: 5px;
  border-bottom: 2px solid white;
  margin-bottom: 0;
}
.box-home-text{
  font-family: 'Oswald',Arial;
  font-size:clamp(12px,1.2vw,24px);
  text-align: center;
}
/* contact */
.main-contact-container{
  flex:1 ;
  display:flex;
  justify-content: center;
  align-items: center;
  height: 80vh;
  width: 100%;
  size:initial;
}
.box-contact{
  text-align: center;
  color:orange;
  background-color: black;
  border-radius: 12px;
  border:2px solid white;
  margin:auto;
  width: 60%;
  max-width: 600px;
  height: 80%;
  min-height: 60vh;
  box-shadow: 0 4px 10px rgba(0,0,0,0,15);
  border-bottom-left-radius: 12px;
  border-bottom-right-radius: 12px;
}
.box-contact form{
  border-top:2px solid white;
  background-color: black;
  display: flex;
  flex-direction: column;
  gap:20px;
  padding: 20%;
  padding-top: 10%;
  border-bottom-left-radius: 12px;
  border-bottom-right-radius:12px;
}
.box-contact textarea{
  min-height: 160px;
  resize: none;
  border:solid orange;
  max-height: 30vh;
}
.box-contact select,input[type="email"]{
  border:solid orange;
}
/* gallery */
.main-gallery-container{
  justify-content: center;
  display:flex;
  flex-direction: column;
  gap:20px;
  padding:5%;
  max-width: 100vw;
  min-height: 75vh;
}
.box-gallery{
  display: flex;
  flex-direction: column;
  text-align: center;
}
.box-gallery-title{
    font-family: 'Oswald', "Arial";
    color:orange;
    background-color: black;
    border-top-left-radius: 12px;
    border-top-right-radius: 12px;
    border-top:2px solid white;
    margin-bottom: 0;
}
.box-gallery-footer{
    font-family: 'Oswald', "Arial";
    color:orange;
    background-color: black;
    border-bottom-left-radius: 12px;
    border-bottom-right-radius: 12px;
    border-bottom:2px solid white;
    cursor:pointer;
    margin-top:0;
}
.box-gallery-footer:hover{
  color:white;
  transition: 0.2s ease;
}
.box-gallery-content.open{
  max-height: 1000px;
  opacity: 1;
  margin:10px;
}
.box-gallery-content{
  display:flex;
  flex-direction: row;
  flex-wrap:wrap;
  gap:50px;
  max-width:1;
  justify-content: center;
  border-left:2px dashed white;
  border-right: 2px dashed white;
  height: fit-content;
  max-height:0;
  overflow: hidden;
  transition: max-height 1s ease;
}
.exercises{
  font-family: 'Oswald','Arial';
  color:orange;
  background-color: black;
  text-align: center;
  padding-bottom: 8px;
  border-radius: 12px;
  border-bottom: 2px solid white;
  display: flex;
  flex-direction: column;
}
.exercises-image{
  border:2px solid black;
  border-radius: 12px;
  max-width: 250px;
}
.films{
  display:flex;
  flex-direction: row;
  justify-content: space-evenly;
  gap:1%;
}
/* footer */
.footer{
  background-color: black;
  color:white;
  border-top: 2px solid white;
  display:flex;
  padding-left: 20px;
  width: 100vw;
  transition: background-color 0.2s ease;
}
.footer a{
  color:white;
  margin:15px;
  font-size:24px;
  font-weight: bold;
}
.footer a:hover{
    color:orange;
    transition: color 0.2s;
}
.footer a i {
  font-size: 32px;
  color: white;
  transition: color 0.2s;
}
.footer a:hover i{
    color:orange
}