/* Navbar */
.navstyle{
  display: grid;
  position: sticky;
  top:0;
  grid-template-columns:auto 100%;
  padding: 10px;
  background-color: black;
  border-bottom: 2px solid white;

}
.site-name {
  font-family: 'Badeen Display';
  font-weight:400;
  font-size: 50px;
  font-size: normal;
  font-weight: bold;
  margin-right: 50px;
  color: orange;
  letter-spacing: 1px;
  text-shadow: 
    2px 2px 4px rgba(255, 255, 255, 0.35),
    0 0 10px rgba(255, 255, 255, 0.25);
}
.navstyle a{
    font-family: 'Oswald',Arial;
    color:white;
    margin:15px;
    font-size:24px;
    font-weight: bold;
}
.navstyle-links{
  display:grid;
  grid-auto-flow:column;
  gap: 30px;
  justify-content: space-evenly;
  align-items: center;
}

.navstyle a:hover{
    color:orange;
    transition: color 0.2s;
}
/* Body */
body{
  display:flex;
  flex-direction: column;
  min-height: 100vh;
  background-image:url(images/background.jpg);
  background-size:cover;
  background-repeat: no-repeat;
  background-attachment: fixed;
  color: white;
  margin:0;
  padding:0;
  overflow-x: hidden;
}
/* home */
.main-home-container{
  display:grid;
  grid-template-columns:1fr 1fr 1fr;
  gap:50px;
  padding: 100px;
  min-height:100vh;
}
.box-home{
  background-color:black;
  border-radius: 12px;
  border:2px solid white;
  box-shadow: 0 4px 10px rgba(0,0,0,0,15);
  gap:0;
  height: min-content;
  padding-bottom: 5px;
}
.toggle{
  margin: 10px auto;
  align-self: center;
  cursor: pointer;
  padding: 5px 5px;
  display: flex;
  color:orange;
  background-color: black;
  border-radius: 12px;;
}
.box-home-content{
  max-height: 0;
  overflow: hidden;
  transition: max-height 0.4s ease;
}
.box-home.open .box-home-content{
  max-height: 80vh;
}
.box-home-title{
  font-family: 'Oswald',Arial;
  color:orange;
  text-align: center;
  text-shadow: 
    2px 2px 4px rgba(255, 255, 255, 0.35),
    0 0 10px rgba(255, 255, 255, 0.25);
  margin: 5px;
  border-bottom: 2px solid white;
  margin-bottom: 0;
}
.box-home-text{
  font-family: 'Oswald',Arial;
  font-size:clamp(12px,1.2vw,24px);
  text-align: center;
}
/* contact */
.main-contact-container{
  flex:1 ;
  display:flex;
  justify-content: center;
  align-items: center;
  height: 80vh;
  width: 100%;
  size:initial;
}
.box-contact{
  text-align: center;
  color:orange;
  background-color: black;
  border-radius: 12px;
  border:2px solid white;
  margin:auto;
  width: 60%;
  max-width: 600px;
  height: 80%;
  min-height: 60vh;
  box-shadow: 0 4px 10px rgba(0,0,0,0,15);
}
.box-contact form{
  border-top:2px solid white;
  background-color: black;
  display: flex;
  flex-direction: column;
  gap:20px;
  padding: 20%;
  padding-top: 10%;
}
.box-contact textarea{
  min-height: 160px;
  resize: none;
  border:solid orange;
  max-height: 30vh;
}
.box-contact select,input[type="email"]{
  border:solid orange;
}
/* gallery */
.main-gallery-container{
  display:grid;
  max-width: 1200px;
  margin: 0 auto;
  grid-template-columns: 1fr 1fr 1fr;
  align-items: start;
  gap:30px;
  padding: 2rem;
}
.box-gallery{
  display: flex;
  flex-direction: column;
  background-color: black;
  border-radius: 12px;
  overflow: hidden;
  border:2px solid white;
  box-shadow: 0 4px 10px rgba(0,0,0,0,15);
  padding: 0;
}
.exercises{
  width: 100%;
  height:auto;
  object-fit: cover;
  border-bottom-right-radius: 12px;
  border-bottom-left-radius: 12px;
  display: block;
}
.box-gallery-title{
  font-family: 'Oswald',Arial;
  color:orange;
  text-align: center;
  font-size: clamp(18px, 2vw, 28px);
  text-shadow: 
    2px 2px 4px rgba(255, 255, 255, 0.35),
    0 0 10px rgba(255, 255, 255, 0.25);
  margin:0;
  padding: 10px 0;
}

/* footer */
.footer{
  background-color: black;
  color:white;
  border-top: 2px solid white;
  display:flex;
  padding-left: 20px;

}
.footer a{
  color:white;
  margin:15px;
  font-size:24px;
  font-weight: bold;
}
.footer a:hover{
    color:orange;
    transition: color 0.2s;
}
.footer a i {
  font-size: 32px;
  color: white;
  transition: color 0.2s;
}
.footer a:hover i{
    color:orange
}